<mapper namespace="cn.cjx.mybatis.dao.IUserDao">


    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="cn.cjx.mybatis.entity.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" paramterType="cn.cjx.mybatis.entity.User" resultType="cn.cjx.mybatis.entity.User" >
        select * from user where id = #{id} and username = #{username}
    </select>


</mapper>